@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

body {
  //background: $white;
  background: linear-gradient(rgb(235, 231, 231), rgb(47, 185, 47, 0.8));
  background-repeat: no-repeat;
  z-index: -1;
  font-family: $font-1;
  // @include verticalCenter;
}

$color-1: #008a61;
$color-2: rgb(255, 25, 0);
$color-3: #000000;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
